<template name="teams">
	<div id="teams" class="page">
	{{> header}}
		<h1>Here you can find all the teams that are looking for more team members!</h1>
		{{#if teams}}
		<table>
			<tr>
				<th>Team Name</th>
				<th>Contact</th>
				<th>Looking for</th>
				<th>Extra information</th>
			</tr>
			{{#each teams}}
			{{> teamItem}}
			{{/each}}
		</table>
		{{else}}
			<h2>No teams have signed up to find more team members</h2>
		{{/if}}
	</div>
</template>

<template name="teamItem">
<tr>
	<td>{{name}}</td>
	<td>{{email}}</td>
	<td>{{need}}</td>
	<td>{{specialNeeds}}</td>
</tr>
</template>

<template name="teamsignup">

	<div id="teamsignup" class="page">
	{{> header}}
		<p>By signing up your team here, people who are looking for a team can find you can get your contact information. If you only want to see the people that are looking for a team continue <a href="/persons">here</a></p>
		<form>
			<label for="name">Team name:</label>
			<input name="name" id="name" type="text" required>
			<label for="email">Contact email:</label>
			<input name="email" id="email" type="email" required>
			<label for="need">What are you looking for:</label>
			<input id="dev" type="checkbox" value="Developer">Developer
			<input id="designer" type="checkbox" value="Designer">Designer
			<input id="visionary" type="checkbox" value="Visionary">Visionary
			<label for="needs">Specific needs:</label>
			<textarea name="needs" id="needs" rows="2" cols="10"></textarea>
			<input type="submit" value="Add your team">
		</form>
	</div>

</template>