<template name="home">
	<div class="page">
		<div class="signup-link-container">
			<h1><a href="/signup">Are you looking for a team?<br />Sign up here and teams can find you!</a></h1>
		</div>
		<div class="teamsignup-link-container>">
			<h1><a href="/teamsignup">Are you looking for more team members?<br />Sign your team up here and people can find you!</a></h1>
		</div>
		<div class="teams-link-container">
			<h1><a href="/teams">See all teams that are looking for team members</a></h1>
		</div>
		<div class="persons-link-container">
			<h1><a href="/persons">See all people who are looking for a team</a></h1>
		</div>
	</div>
</template>




